
/* Default font size for all screen sizes */
body {
    font-size: 1em; /* Adjust this as your base font size */
    
  }
  
  /* Media query for smaller screens (phones) */
  @media only screen and (max-width: 768px) {
    body {
      font-size: 12px; /* Font size for smaller screens */
    }
    
  }
  
  /* Media query for medium screens (tablets) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
      font-size: 16px; /* Font size for medium screens */
    }
  }
  
  /* Media query for larger screens (desktops) */
  @media only screen and (min-width: 1025px) {
    body {
      font-size: 18px; /* Font size for larger screens */
    }
  }
  
img{
    width: 100%;
    height: auto;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: white;
  }
  .dropdown-menu{
    background-color:#343a40;
 
   }
 
 
  #mainNav a {
   text-decoration: none;
   margin: 0 0.3em;
   color: white;
  }

  #mainNav a.active {
  color:#007bffbb ;
  text-decoration: underline;
  }