

body {
    font-size: 1em; 
  }
  
img{
    width: 100%;
    height: auto;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: white;
  }
  .dropdown-menu{
    background-color:#343a40;
 
   }
  #Navbar a {
   text-decoration: none;
   margin: 0 0.3em;
   position: relative;
  }

  
  #Navbar a.active {
  text-decoration: underline;
  }
  
  .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0rem; 
     padding-bottom: 0rem;
}
.dropdown-divider {
  border-top: black 1px solid;
    margin: 0.1em;
}
.navbar-nav .dropdown-menu {
  position: static;
  margin: 0 1em;
 
}
.dropdown-menu a:hover{
width: 95%;
margin: auto;
 
}
.navbar-nav {
  
  --bs-nav-link-padding-y: 0px;

}
.dropdown{
  display: flex;
  align-items: center;
}