
.table {
  width: 50%;
  background-color: #f1f1f1;
  margin: 1em auto;
  border-radius: 1em;
  padding: 1em;
  border-spacing: 5px;
  margin-bottom: 2em;
}

.table tbody td {
  padding: 0.5em;
  background-color: white;
  vertical-align: middle;
}

.table tfoot td {
  font-weight: bold;
}

.checkoutError {
  border: 2px solid red;
}

.checkoutLoading {
  opacity: 0.2;
}

.total {
  color: green;
}

.button {
  font-size: 1.5em;
  padding: 0 1em;
  background-color: #007bffbb
}

.input {
  font-size: 1em;
  width: 3em;
}

.errorBox {
  color: red;
}
.form{
  display: flex;
  justify-content: center;
}
.cartButton{
  color: rgb(219, 103, 103);
  background-color: transparent;
  border: none;
}
.imageWrapper{
  width: 3.5em;
  height: auto;
 padding: 5px;

}
.centerDiv{
  text-align: center;
 
  background-color: #f1f1f1;
}
