.cartinfo{
    
    position: absolute;
    top: -0.8em;
    right: -0.2em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: none;
}
.cartinfo_left{
    
    position: absolute;
    top: -0.8em;
    left: -0.2em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: none;
}
.button{
  background-color: transparent;
  border: none;
  color: white;
}
.color{
  color:white
}
.nav-link {
  color: white;
}
